/* StyleSheet for Brent Hennety's Portfolio */
/* Created by Brent J Hennety Jr*/
/* Began 1/13/21 */
/* Last edited: 1/26/21*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1e1e1;
  font-family: "Roboto", sans-serif;
}

/* Top Nav Bar */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #141414;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  float: left;
  color: #f3f3f3;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #141414;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add opacity on mouse-over */
.topnav a:hover {
  background-color: #f3f3f3;
  color: #141414;
  transition: all ease 0.4s;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #141414;
  color: #f3f3f3;
}

/* Welcome section */
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-greeting {
  font-size: 1.5rem;
}

.welcome-btn button {
  width: 120px;
  height: 22px;
  margin-left: 10%;
  background-color: #141414;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 10px 30px #141414;
  transition: all ease 0.3s;
}

.welcome-btn button:hover {
  opacity: 0.3;
  cursor: pointer;
}
/*  Contact information    */

.contact-info {
  color: #141414;
  font-size: 1rem;
}

.contact-info i {
  color: #141414;
  justify-content: space-evenly;
  padding: 33px;
}

.contact-info i:hover {
  opacity: 0.3;
  color: black;
  transition: all ease 0.3s;
}

/* Skills Section */
#about-section {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-greeting {
  padding: 0 0 30px 30px;
}

.about-info {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  line-height: 33px;
}
.about-box {
  padding: 0 0 10px 10px;
}

.about-box p {
  text-indent: 10px;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
  }

  #about-section {
    display: flex;
    flex-direction: column;
  }

  #project-section {
    display: flex;
    flex-direction: column;
  }
}
