/* StyleSheet for Brent Hennety's Portfolio */
/* Created by Brent J Hennety Jr*/
/* Began 1/13/21 */
/* Last edited: 2/1/21  */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

/* Top Nav Bar */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #141414;
  position: fixed;
  width: 100vw;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  float: left;
  color: #f3f3f3;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #141414;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add opacity on mouse-over */
.topnav a:hover {
  background-color: #f3f3f3;
  color: #141414;
  transition: all ease 0.4s;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #141414;
  color: #f3f3f3;
}

/* Welcome section */
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-greeting {
  font-size: 1.5rem;
}

.welcome-btn button {
  width: 120px;
  height: 22px;
  margin-left: 10%;
  background-color: #141414;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 10px 30px #141414;
  transition: all ease 0.3s;
}

.welcome-btn button:hover {
  opacity: 0.3;
  cursor: pointer;
  transition-timing-function: linear;
}
/*  Contact information    */

.contact-info {
  color: #141414;
  font-size: 1rem;
}

.contact-info i {
  color: #141414;
  justify-content: space-evenly;
  padding: 33px;
}

.contact-info i:hover {
  opacity: 0.3;
  color: black;
  transition: all ease 0.3s;
}

/* Skills Section */
#about-section {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*  cards   */
#skills-cards {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 110px 100px 60px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: "roboto";
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card-image-html {
  grid-area: image;
  background: url("https://gitconnected.com/public/images/tutorials/html-5");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-image-css {
  grid-area: image;
  background: url("https://colorlib.com/wp/wp-content/uploads/sites/2/creative-css3-tutorials.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-image-js {
  grid-area: image;
  background: url("https://miro.medium.com/max/720/1*LjR0UrFB2a__5h1DWqzstA.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #141414;
}

.card-text .tag {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 16px;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

/*   Project Section     */
#project-section {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-card-section {
  width: 80%;
  height: 750vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.project-card {
  display: grid;
  grid-template-columns: 310px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "more";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: "roboto";
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.project-card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.project-card-image-wildcajun {
  grid-area: image;
  background: url("./imgages/wildcajun.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}

.project-card-image-calc {
  grid-area: image;
  background: url("./images/calc-pic.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain;
}

.project-card-text {
  grid-area: text;
  margin: 25px;
}
.project-card-more {
  grid-area: more;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #141414;
}

.project-card .tag {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.project-card h2 {
  margin-top: 0px;
  font-size: 16px;
}

.project-card-more .project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f3f3f3;
  padding: 10px;
}

.project-card-more .project-link a {
  text-decoration: none;
  color: #f3f3f3;
}

.project-more .project-link a:hover {
  text-decoration: underline;
}

/*    Footer Sectiobn       */
#footer-section {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-self: center;
  opacity: 0.3;
}

#footer-section a {
  text-decoration: none;
  color: #141414;
  cursor: pointer;
}

.contact-info-foot {
  color: #141414;
}

.contact-info-foot i {
  color: #141414;
  justify-content: center;
  padding-right: 20px;
}

.contact-info-foot i:hover {
  opacity: 0.3;
  color: black;
  transition: all ease 0.3s;
}

/*  Responsive   */
@media screen and (max-width: 900px) {
  /*  cards   */
  #skills-cards {
    justify-content: space-around;
  }

  .card {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 80px 80px 60px;
  }
}
